body {
    width: auto;
    min-width: 300px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

h1,h2 {
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 600;
    background: #007ca1;
    color: white;
    text-align: center;
    padding: .5rem;
}

h1 {
    font-size: 2.5rem;
}

span, code, button {
    font-family:'Courier New', Courier, monospace;
    margin: .5rem;
}

canvas {
    width: auto;
    margin-top: 1rem;
    box-shadow: 2px 2px 10px black;
    border-radius: 10px;
}

.functions {
    color: #007ca1;
    font-size: 1.3rem;
}

button {
    background: #007ca1;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    padding: 5px 15px;
}

input {
    color: gray;
}

#main-container {
    text-align: center;
    background: lightgray;
    font-weight: 600;
    position: relative;
    margin-top: 0;
}

.text {
    text-align: center;
    background: darkgray;
    padding: 1rem;
    font-size: large;
}

@media only screen and (min-width: 600px) {
    h1,h2,h3,h4,h5 {
        border-radius: 10px;
    }
    
    #main-container {
        padding: 1rem;
        border-radius: 10px;
    }
    
    .text {
        border-radius: 10px;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        color: #ffffffbf;
        background: #252525;
    }

    #main-container {
        background: #404040;
    }

    .text {
        background: #505050;
    }
}